<script>
  let produtos_escolhidos = [];
  let parte_cliente = [];
  let id_da_venda_ref = [];

  let produto_para_alterar = null;

  function setCookie(name, value, days) {
    let expires = '';
    if (days) {
      const date = new Date();
      date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
      expires = '; expires=' + date.toUTCString();
    }
    document.cookie = name + '=' + (value || '') + expires + '; path=/';
  }
  function getCookie(name) {
    const nameEQ = name + '=';
    const ca = document.cookie.split(';');
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) === ' ') {
        c = c.substring(1, c.length);
      }
      if (c.indexOf(nameEQ) === 0) {
        return c.substring(nameEQ.length, c.length);
      }
    }
    return null;
  }

  function logout() {
    setCookie('userName', '', 365);
    setCookie('token', '', 365);
    location.reload();
  }

  function my_url() {
    if (window.location.href.slice(0, 22) == 'http://127.0.0.1:5000/') {
      return 'http://127.0.0.1:5000/';
    } else {
      return 'https://myflaskappdantederette.pythonanywhere.com/';
    }
  }
  function meu_template(template) {
    window.open(my_url() + template, '_self');
  }
  function so_aceita_num_e_virgula(id) {
    document.getElementById(id).addEventListener('input', function () {
      this.value = this.value.replace(/,/g, function (match, offset, input) {
        return offset === input.lastIndexOf(',') ? match : '';
      });
      this.value = this.value.replace(/[^0-9,?]/g, '');
    });
  }
  function muda_de_tela(x) {
    $.ajax({
      url: my_url() + 'muda_de_tela',
      type: 'POST',
      data: {
        qual_template: x,
      },
      success: function (response) {
        $('#lado_direito').html(response);
      },
      error: function () {
        $('#lado_direito').html('Erro');
      },
    });
  }
</script>
