<!DOCTYPE html>
<html lang="en">
  <script>
    $(function () {
      $('#tabs').tabs();
    });
  </script>
  <body>
    <div class="seg">
      <div>
        <h3>Vendas</h3>
      </div>
      <div>
        <button onclick="muda_de_tela('entrada_de_venda.html')">
          Incluir Venda
        </button>

        <div class="campo_pesquisa">
          <label>Pesquisar</label>
          <input type="text" id="pesquisar_venda" />
        </div>
        <button onclick="verifica_selecao_venda()">Consultar</button>
        <table id="tabela_venda" class="display nowrap" style="width: 100%">
          <thead>
            <tr>
              <th>Id da Venda</th>
              <th>Nome do Cliente</th>
              <th>Valor Total</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      $.ajax({
        url: my_url() + 'ler_dados_vendas',
        type: 'POST',
      }).done(function (data) {
        let dados = data.retorno;
        dados = dados.slice(1, dados.length);

        try {
          $('#tabela_venda').DataTable().clear();
          $('#tabela_venda').DataTable().destroy();
        } catch (e) {}

        const datatable = new DataTable('#tabela_venda', {
          data: dados,
          deferRender: true,
          scrollCollapse: true,
          scroller: true,
          scrollY: 200,
        });

        $('#tabela_venda tbody').on('click', 'tr', function () {
          var row = datatable.row(this);

          if (row.data()) {
            var selectedRows = datatable.rows('.selected');

            if (row.node().classList.contains('selected')) {
              row.node().classList.remove('selected');
            } else {
              selectedRows.nodes().to$().removeClass('selected');
              row.node().classList.add('selected');
            }
          }
        });

        $('#pesquisar_venda').on('input', function () {
          var valor_para_pesquisar = $(this).val();
          datatable.search(valor_para_pesquisar).draw();
        });
      });
    });

    function verifica_selecao_venda() {
      var tabela_venda = document.getElementById('tabela_venda');

      var o_que_foi_selecionado =
        tabela_venda.getElementsByClassName('selected')[0];

      var id_da_venda =
        o_que_foi_selecionado.getElementsByTagName('td')[0].innerHTML;

      $.ajax({
        url: my_url() + 'ler_linha_venda',
        data: {
          id_da_venda: id_da_venda,
        },
        type: 'POST',
      }).done(function (data) {
        var dados = data.dados;
        var dadosLen = dados.length;
        console.log(dados);

        parte_cliente.push(dados[0][2]);
        parte_cliente.push(dados[0][3]);

        id_da_venda_ref.push(dados[0][1]);
        console.log(id_da_venda_ref);

        for (var i = 0; i < dadosLen; i++) {
          produtos_escolhidos.push(dados[i].slice(4, 9));
        }
        muda_de_tela('entrada_de_venda.html');
      });
    }
  </script>
</html>
