<!DOCTYPE html>
<html lang="pt-br">
  {% include 'head.html' %}

  <body>
    <div class="seg">

      <h3>Cadastro de Solicitação de Compras</h3>

      <div class="container container-branco">

        <h2 class="custom-label">Informações Solicitação de Compra:</h2>

        <!-- Campos de entrada -->
        <div class="row mt-3">

  <!-- Campo Número do Pedido -->
  <div class="col-md-2 mb-2 scrollable-content">
    <label for="numero_pedido" class="custom-label">Número Autorização:</label>
    <input
      id="numero_pedido"
      type="text"
      class="form-control"
      placeholder="Digite o número do pedido"
      onfocus="highlightInput(this)"
      onblur="removeHighlight(this)"
      oninput="converterParaMaiusculas(this)"
    />
  </div>

<!-- Campo Código da Obra -->
<div class="col-md-2 mb-2 scrollable-content">
    <label for="codigo_obra" class="custom-label">Código da Obra</label>
    <input
        id="codigo_obra"
        type="text"
        class="form-control"
        placeholder="Digite o código da obra"
        onfocus="highlightInput(this)"
        onblur="removeHighlight(this)"
        oninput="converterParaMaiusculas(this)"
    />
</div>

<!-- Campo Centro de Custo (Obras) -->
<div class="col-md-5 mb-2 scrollable-content">
    <label for="centro_custo" class="custom-label">Centro de Custo (Obras) * </label>
    <div class="input-group">
        <input
            id="centro_custo"
            type="text"
            class="form-control"
            placeholder="Digite o centro de custo"
            onfocus="highlightInput(this)"
            onblur="removeHighlight(this)"
            oninput="converterParaMaiusculas(this)"
            required=" Favor preecher os dados"
        />
        <div class="input-group-append">
            <!-- Ícone de Lupa para abrir modal ou outro componente -->
            <span class="input-group-text">
                <i class="material-icons" onclick="abrirModalObras()">search</i>
            </span>
        </div>
    </div>
</div>

<!-- Campo Solicitante -->
<div class="col-md-3 mb-2 scrollable-content">
    <label for="solicitante" class="custom-label">Solicitante * </label>
    <input
        id="solicitante"
        type="text"
        class="form-control"
        placeholder="Digite o solicitante"
        onfocus="highlightInput(this)"
        onblur="removeHighlight(this)"
        oninput="converterParaMaiusculas(this)"
    />
</div>
</div>

        <!-- Campos de entrada -->
        <div class="row mt-3">

<!-- Campo Código da Obra -->
<div class="col-md-2 mb-2 scrollable-content">
    <label for="codigo_depatamento" class="custom-label">Cod. Departamento</label>
    <input
        id="codigo_deptamento"
        type="text"
        class="form-control"
        placeholder="Digite o código da obra"
        onfocus="highlightInput(this)"
        onblur="removeHighlight(this)"
        oninput="converterParaMaiusculas(this)"
    />
</div>

<!-- Campo Departamento -->
<div class="col-md-5 mb-2 scrollable-content">
    <label for="departamento" class="custom-label">Departamento</label>
    <div class="input-group">
        <input
            id="departamento"
            type="text"
            class="form-control"
            placeholder="Digite o departamento"
            onfocus="highlightInput(this)"
            onblur="removeHighlight(this)"
            oninput="converterParaMaiusculas(this)"
        />
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="material-icons" onclick="abrirModalDepartamento()">search</i>
            </span>
        </div>
    </div>
</div>

<div class="col-md-2 mb-2 scrollable-content"></div>

<!-- Campo Data de Solicitação -->
<div class="col-md-3 mb-2 scrollable-content">
    <label for="data_solicitacao" class="custom-label">Data de Solicitação * </label>
    <input
        id="data_solicitacao"
        type="date"
        class="form-control"
        placeholder="Selecione a data"
        required
    />
</div>
</div>

 <!-- Campo adicional Queixa do Cliente -->
 <div class="col-md-12 mb-3">
    <label for="queixaCliente" class="custom-label">Observação - Detalhamento da solicitação  </label>
    <textarea id="queixaCliente" class="form-control" rows="1" oninput="autoResize(this)"></textarea>
  </div>

<!-- Separador visual para melhor organização -->
<div class="separador"></div>

<!-- Campos de entrada -->
<div class="row mt-3">

<!-- codigo Produto -->
<div class="col-md-3 mb-2 scrollable-content">
    <label for="codProduto" class="custom-label">Codigo do Insumo / Produto</label>
    <div class="input-group">
        <input
            id="codProduto"
            type="number"
            class="form-control"
            placeholder="Digite o codigo"
            onfocus="highlightInput(this)"
            onblur="removeHighlight(this)"
            oninput="converterParaMaiusculas(this)"
        />
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="material-icons" onclick="abrirModalDepartamento()">search</i>
            </span>
        </div>
    </div>
</div>

<!-- Campo Descrição produto -->
<div class="col-md-4 mb-2 scrollable-content">
    <label for="nome_produto" class="custom-label">Nme do Insumo / Produto</label>
    <div class="input-group">
        <input
            id="nome_produto"
            type="text"
            class="form-control"
            placeholder="Digite o departamento"
            onfocus="highlightInput(this)"
            onblur="removeHighlight(this)"
            oninput="converterParaMaiusculas(this)"
        />
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="material-icons" onclick="abrirModalDepartamento()">search</i>
            </span>
        </div>
    </div>
</div>

          <!-- Campo Quantidade -->
          <div class="col-md-2 mb-2 scrollable-content">
            <label for="quantidade" class="custom-label">Quantidade</label>
            <input
              id="quantidade"
              type="number"
              class="form-control"
              placeholder="Quantidade"
              onfocus="highlightInput(this)"
              onblur="removeHighlight(this)"
              value="1" 
              min="1" 
            />
          </div>


          <!-- Botão Adicionar Item -->
          <div class="col-md-3 mt-3">
            <button
              id="btn_adicionar_item"
              onclick="AdicionarItemAoPedido()"
              class="btn btn-block button-height"
              style="background-color: #4caf50; color: white; padding: 10px 20px; border: none; border-radius: 25px; cursor: pointer; display: flex; align-items: center; width: 100%;"
            >
              <span class="material-icons" style="margin-right: 8px">add_shopping_cart</span>
              Adicionar Item
            </button>
          </div>
        </div>


<!-- Campos de entrada -->
<div class="row mt-3">
        
<!-- >Detalhes Produto -->
<div class="col-md-3 mb-2 scrollable-content">
    <label for="detalhes_Produto" class="custom-label">Detalhes</label>
    <div class="input-group">
        <input
            id="detalhes_Produto"
            type="number"
            class="form-control"
            placeholder="Digite o codigo"
            onfocus="highlightInput(this)"
            onblur="removeHighlight(this)"
            oninput="converterParaMaiusculas(this)"
        />
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="material-icons" onclick="abrirModalDepartamento()">search</i>
            </span>
        </div>
    </div>
</div>

<!-- Campo Marca produto -->
<div class="col-md-4 mb-2 scrollable-content">
    <label for="marca_produto" class="custom-label">Marca</label>
    <div class="input-group">
        <input
            id="marca_produto"
            type="text"
            class="form-control"
            placeholder="Digite o departamento"
            onfocus="highlightInput(this)"
            onblur="removeHighlight(this)"
            oninput="converterParaMaiusculas(this)"
        />
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="material-icons" onclick="abrirModalDepartamento()">search</i>
            </span>
        </div>
    </div>
</div>

</div>
        <!-- Tabela de Itens do Pedido -->
        <div class="table-responsive myTable table-wrapper mt-3">
          <div id="table_PedidoCompra" class="tabulator myTable"></div>
        </div>

  <!-- Modal de Obras -->
  <dialog class="mdl-dialog" id="myDialog">
    <div class="modal-header">
        <img
            src="https://drive.google.com/uc?export=view&id=1-grKAm790rFePojbqFxCeNXy4rHzrV4j"
            alt="Logo da Empresa"
            style="max-width: 50px; margin-right: 10px;"
        />
        <span>COMPLENTAS INFORMAÇÕES - ANDAMENTO NA PRODUÇÃO - <span>NOTH CROMO</span></span>
    </div>

    <div class="modal-content">
        <h4>Escolha uma opção:</h4>
        <ul class="demo-list-control mdl-list" id="obraList">
            <!-- Conteúdo da tabela tabular aqui -->
        </ul>
    </div>

    <div class="mdl-dialog__actions">
        <!-- Botão Cancelar com ícone -->
        <button
            type="button"
            id="btnCancelar"
            class="btn waves-effect waves-light bg-warning btn-enhanced btn-block button-height"
            style="border-radius: 25px; display: flex; align-items: center; justify-content: center;"
        >
            <span class="material-icons" style="margin-right: 8px">close</span>
            Cancelar
        </button>

        <!-- Botão Salvar com ícone -->
        <button
            type="button"
            id="btnSalvarModal"
            onclick="saveOptionToTable()"
            class="btn waves-effect waves-light bg-success btn-enhanced btn-block button-height"
            style="border-radius: 25px; display: flex; align-items: center; justify-content: center;"
        >
            <span class="material-icons" style="margin-right: 8px">save</span>
            Salvar
        </button>
    </div>
</dialog>

        <!-- Botões de Ação -->
        <div class="row mt-3">
          <!-- Botão Salvar Pedido -->
          <div class="col-md-4 col-12">
            <button
              id="btn_salvar_pedido"
              onclick="SalvarPedido()"
              class="btn btn-block button-height"
              style="background-color: #4caf50; color: white; padding: 10px 20px; border: none; border-radius: 25px; cursor: pointer; display: flex; align-items: center; width: 100%;"
            >
              <span class="material-icons" style="margin-right: 8px">save</span>
              Salvar Pedido
            </button>
          </div>

          <!-- Botão Cancelar Pedido -->
          <div class="col-md-4 col-12 mt-3 mt-md-0">
            <button
              id="btn_cancelar_pedido"
              onclick="CancelarPedido()"
              class="btn btn-block button-height"
              style="background-color: #f44336; color: white; padding: 10px 20px; border: none; border-radius: 25px; cursor: pointer; display: flex; align-items: center; width: 100%;"
            >
              <span class="material-icons" style="margin-right: 8px">cancel</span>
              Cancelar Pedido
            </button>
          </div>

          <!-- Botão Limpar Formulário -->
          <div class="col-md-4 col-12 mt-3 mt-md-0">
            <button
              id="btn_limpar_formulario"
              onclick="LimparFormulario()"
              class="btn btn-block button-height"
              style="background-color: #2196f3; color: white; padding: 10px 20px; border: none; border-radius: 25px; cursor: pointer; display: flex; align-items: center; width: 100%;"
            >
              <span class="material-icons" style="margin-right: 8px">clear_all</span>
              Limpar Formulário
            </button>
          </div>
        </div>
      </div>
    </div>
    
  </body>
  {% include 'funcoes_comuns.html' %}
  <script>


$(document).ready(function () {

//$("#tabs").tabs();

 // Ocultar informações específicas das TABs 2 e 3
 //$('#data_inicial_recebimento, #data_final_recebimento').hide();
 // Também oculte os rótulos, se necessário
 //$('label[for="data_inicial_recebimento"], label[for="data_final_recebimento"]').hide();

//setDataFinal_Geral();
//horaSistema();
//selecionar_clientes();
//selecionar_produtos();

// carregarValorSeg();
//Lista_recebimento();


// Formatar campo de telefone
$('#telefone').keyup(function () {
var val = this.value.replace(/\D/g, '');
var newVal = '';
while (val.length > 0) {
  newVal += (val.length > 2 ? ' ' : '') + val.substr(0, 2);
  val = val.substr(2);
}
this.value = newVal.trim();
});

// Adicionar estilo ao campo quando preenchido
$('input').blur(function () {
if ($(this).val()) {
  $(this).addClass('filled');
} else {
  $(this).removeClass('filled');
}
});

/*

              // Adicione um manipulador de eventos para os links das guias
              $('#tabs a').on('click', function() {
              // Obtenha o número da guia a partir do atributo href
              var numeroTab = parseInt($(this).attr('href').split('-')[1]);

                // Chame a função para mostrar a guia
                 mostrarTab(numeroTab);
                 getDataAtual(numeroTab);
                 setDataFinal(numeroTab);

              // Chame as funções relevantes
              controleVisibilidadeCampoTab2(numeroTab);
              controleVisibilidadeCampoTab3(numeroTab);

          });

        */    

          var mainContent = $("#mainContent");
          if (mainContent.length > 0) {
              // Faça algo com mainContent
              mainContent.perfectScrollbar();
          } else {
              console.error("Elemento #mainContent não encontrado.");
          }

          $(".scrollable-content").perfectScrollbar();
            
            });s

function autoResize(elemento) {
elemento.style.height = 'auto';
elemento.style.height = (elemento.scrollHeight) + 'px';

// Converter para maiúsculas
elemento.value = elemento.value.toUpperCase();
}


// Função para abrir o modal de Obras
  function abrirModalObras() {
    alert('aa')
            var modal = document.getElementById('myDialog');
            if ('showModal' in modal) {
                modal.showModal();
            } else {
                // Se showModal não for suportado, fallback para display: block
                modal.style.display = 'block';
            }
        }

        // Limpar e popular a lista de obras (exemplo)
        var obras = ['Obra A', 'Obra B', 'Obra C', 'Obra D'];
            var obraList = document.getElementById('obraList');
            obraList.innerHTML = '';

            obras.forEach(function (obra, index) {
                var listItem = document.createElement('li');
                listItem.classList.add('mdl-list__item');
                listItem.innerHTML = `
                    <span class="mdl-list__item-primary-content">${index + 1} - ${obra}</span>
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option${index + 1}">
                            <input type="radio" id="option${index + 1}" class="mdl-radio__button" name="SEQOption" value="${index + 1}">
                        </label>
                    </span>
                `;
                listItem.addEventListener('click', function () {
                    // Ao clicar em uma obra, fecha o modal e preenche o input
                    selecionarObra(obra);
                });
                obraList.appendChild(listItem);
            });

        // Função para selecionar uma obra e preencher o input
        function selecionarObra(obra) {
            var modal = document.getElementById('myDialog');
            if ('close' in modal) {
                modal.close();
            } else {
                modal.style.display = 'none';
            }

            // Preencher o input com o nome da obra selecionada
            document.getElementById('centro_custo').value = obra;
        }

        // Função de exemplo para salvar a opção na tabela (substitua com sua lógica)
        function saveOptionToTable() {
            var selectedOption = document.querySelector('input[name="SEQOption"]:checked');
            if (selectedOption) {
                alert('Opção selecionada: ' + selectedOption.value);
            } else {
                alert('Nenhuma opção selecionada.');
            }
        }

         // Fechar a modal se clicar fora dela
         window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    // Função para fechar a modal
    function fecharModalObras() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none"; // Ocultar a modal
    }
          // Adicione a lógica para fechar o modal quando necessário
        // Exemplo: ao clicar no botão Cancelar
        document.getElementById('btnCancelar').addEventListener('click', function() {
            var modal = document.getElementById('myDialog');
            if ('close' in modal) {
                modal.close();
            } else {
                // Se close não for suportado, fallback para display: none
                modal.style.display = 'none';
            }
        });

        // Exemplo: ao clicar no botão Salvar
        document.getElementById('btnSalvarModal').addEventListener('click', function() {
            // Adicione sua lógica para salvar aqui

            // Feche o modal após salvar
            var modal = document.getElementById('myDialog');
            if ('close' in modal) {
                modal.close();
            } else {
                // Se close não for suportado, fallback para display: none
                modal.style.display = 'none';
            }
        });

// Função para selecionar uma obra e preencher o campo
function selecionarObra(nomeObra) {
  $('#centro_custo').val(nomeObra);
  $('#myDialog').modal('hide');  // Use o ID correto do seu modal aqui
}


    // Adicione seus scripts adicionais aqui, como funções para manipular a tabela de itens do pedido, salvar, cancelar, etc.
    function AdicionarItemAoPedido() {
      // Implemente a lógica para adicionar um item à tabela de itens do pedido
    }

    function SalvarPedido() {
      // Implemente a lógica para salvar o pedido
    }

    function CancelarPedido() {
      // Implemente a lógica para cancelar o pedido
    }

    function LimparFormulario() {
      // Implemente a lógica para limpar o formulário
    }
  </script>
</html>
