<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    <div class="seg">
      <h3>Capturar Foto</h3>
      <div class="container">
        <div id="camera-container">
          <video id="camera-feed" autoplay></video>
          <button id="capturar-foto">Capturar Foto</button>
          <button id="capturar-camera">Capturar da Câmera</button>
          <!-- Botão para capturar da câmera -->
        </div>
        <canvas id="foto-capturada" style="display: none"></canvas>
        <button id="salvar-foto">Salvar Foto</button>
        <img id="imagem-foto" style="display: none" />
        <input
          type="file"
          accept="image/*"
          capture="camera"
          id="photo-input"
          style="display: none"
        />
        <button id="upload-button">Upload Photo</button>
      </div>
    </div>
    {% include 'funcoes_comuns.html' %}
    <script src="capturar_foto.js"></script>
    <script>
      const video = document.getElementById("camera-feed");
      const capturarBotao = document.getElementById("capturar-foto");
      const canvas = document.getElementById("foto-capturada");

      navigator.mediaDevices
        .getUserMedia({ video: true })
        .then(function (stream) {
          video.srcObject = stream;
        })
        .catch(function (error) {
          console.log("Erro ao acessar a câmera: " + error);
        });

      capturarBotao.addEventListener("click", function () {
        canvas.style.display = "block";
        video.style.display = "none";
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas
          .getContext("2d")
          .drawImage(video, 0, 0, canvas.width, canvas.height);

        // Converter a imagem em um formato que pode ser enviado
        const dataURL = canvas.toDataURL("image/jpeg");

        // Enviar a imagem capturada para a rota de upload
        fetch("/upload", {
          method: "POST",
          body: JSON.stringify({ photo: dataURL }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.text())
          .then((result) => alert(result))
          .catch((error) => console.error(error));
      });

      const cameraButton = document.getElementById("capturar-camera");

      cameraButton.addEventListener("click", function () {
        if (
          "mediaDevices" in navigator &&
          "getUserMedia" in navigator.mediaDevices
        ) {
          navigator.mediaDevices
            .getUserMedia({ video: true })
            .then(function (stream) {
              // Exibir o fluxo da câmera em um elemento de vídeo
              video.srcObject = stream;
              video.style.display = "block";

              // Adicionar lógica para capturar a imagem
              // Isso pode ser semelhante à lógica que você já tem para capturar fotos
            })
            .catch(function (error) {
              console.log("Erro ao acessar a câmera: " + error);
            });
        } else {
          console.log(
            "A API de captura de câmera não é suportada neste navegador."
          );
        }
      });
    </script>
  </body>
</html>
