<!DOCTYPE html>
<html lang="pt-">
  <body>
    <div class="seg">
      <div>
        <h3>Clientes</h3>
      </div>
      <div id="meus_inputs"></div>
      <div class="divisor">
        <button id="btn_exclui_cliente" onclick="excluir_cliente()">
          Excluir
        </button>
        <div></div>
        <button id="btn_adiciona_cliente" onclick="salvar_cliente()">
          Salvar
        </button>
        <div></div>
      </div>
      <div>
        <div class="campo_pesquisa">
          <label>Pesquisar</label>
          <input type="text" id="pesquisar_cliente" />
        </div>
        <button onclick="verifica_selecao()">Alterar</button>
        <table id="tabela_cliente" class="display nowrap" style="width: 100%">
          <thead>
            <tr id="cabecalho_cliente"></tr>
          </thead>
        </table>
      </div>
    </div>
  </body>

  <script>
    $(document).ready(function () {
      ler_dados_clientes();
    });

    function verifica_selecao() {
      var tabela_cliente = document.getElementById('tabela_cliente');

      var o_que_foi_selecionado =
        tabela_cliente.getElementsByClassName('selected')[0];

      var tds = o_que_foi_selecionado.getElementsByTagName('td');
      var qtd_tds = tds.length;

      for (var i = 0; i < qtd_tds; i++) {
        document.getElementsByClassName('input_cliente')[i].value =
          tds[i].innerHTML;
      }
    }
    function excluir_cliente() {
      document.getElementById('btn_adiciona_cliente').disabled = true;

      var input_cliente = document.getElementsByClassName('input_cliente');
      var qts_inputs = input_cliente.length;
      var all_data = [];

      for (var i = 0; i < qts_inputs; i++) {
        all_data.push(input_cliente[i].value);
      }

      if (input_cliente[1].value == '') {
        alert('Preencha um nome!');
        document.getElementById('btn_adiciona_cliente').disabled = false;
      } else {
        $.ajax({
          url: my_url() + 'exclui_cliente',
          data: JSON.stringify(all_data),
          contentType: 'application/json',
          type: 'POST',
        }).done(function (data) {
          alert(data.retorno);
          document.getElementById('btn_adiciona_cliente').disabled = false;
          document.getElementById('meus_inputs').innerHTML = '';
          ler_dados_clientes();
        });
      }
    }
    function salvar_cliente() {
      document.getElementById('btn_adiciona_cliente').disabled = true;

      var input_cliente = document.getElementsByClassName('input_cliente');
      var qts_inputs = input_cliente.length;
      var all_data = [];

      for (var i = 0; i < qts_inputs; i++) {
        all_data.push(input_cliente[i].value);
      }

      if (input_cliente[1].value == '') {
        alert('Preencha um nome!');
        document.getElementById('btn_adiciona_cliente').disabled = false;
      } else {
        $.ajax({
          url: my_url() + 'adiciona_cliente',
          data: JSON.stringify(all_data),
          contentType: 'application/json',
          type: 'POST',
        }).done(function (data) {
          alert(data.retorno);
          document.getElementById('btn_adiciona_cliente').disabled = false;
          document.getElementById('meus_inputs').innerHTML = '';
          ler_dados_clientes();
        });
      }
    }
    function ler_dados_clientes() {
      $.ajax({
        url: my_url() + 'ler_dados_clientes',
        type: 'POST',
      }).done(function (data) {
        let dados = data.retorno;
        let cabecalho = dados[0];
        gera_cabecalho_cliente(cabecalho);

        dados = dados.slice(1, dados.length);

        try {
          $('#tabela_cliente').DataTable().clear();
          $('#tabela_cliente').DataTable().destroy();
        } catch (e) {}

        const datatable = new DataTable('#tabela_cliente', {
          data: dados,
          deferRender: true,
          scrollCollapse: true,
          scroller: true,
          scrollY: 200,
        });

        $('#tabela_cliente tbody').on('click', 'tr', function () {
          var row = datatable.row(this);

          if (row.data()) {
            var selectedRows = datatable.rows('.selected');

            if (row.node().classList.contains('selected')) {
              row.node().classList.remove('selected');
            } else {
              selectedRows.nodes().to$().removeClass('selected');
              row.node().classList.add('selected');
            }
          }
        });

        $('#pesquisar_cliente').on('input', function () {
          var valor_para_pesquisar = $(this).val();
          datatable.search(valor_para_pesquisar).draw();
        });
      });
    }
    function gera_cabecalho_cliente(cabecalho) {
      var cabecalhoLen = cabecalho.length;

      for (var i = 0; i < cabecalhoLen; i++) {
        var item_do_cabecalho = `<th>` + cabecalho[i] + `</th>`;
        document.getElementById('cabecalho_cliente').innerHTML =
          document.getElementById('cabecalho_cliente').innerHTML +
          item_do_cabecalho;
      }

      for (var i = 0; i < cabecalhoLen; i++) {
        var meu_input =
          `<label>` +
          cabecalho[i] +
          `</label><input class="input_cliente" type="text" id="` +
          cabecalho[i] +
          `" />`;

        document.getElementById('meus_inputs').innerHTML =
          document.getElementById('meus_inputs').innerHTML + meu_input;
      }
    }
  </script>
</html>
