<script>
  //let funcionario_escolhidos = [];
  //let parte_cliente = [];
  //let id_da_venda_ref = [];
  //let id_funcionario_ref = [];

  //let produto_para_alterar = null;

  function setCookie(name, value, days) {
    let expires = "";
    if (days) {
      const date = new Date();
      date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
      expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "") + expires + "; path=/";
  }
  function getCookie(name) {
    const nameEQ = name + "=";
    const ca = document.cookie.split(";");
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) === " ") {
        c = c.substring(1, c.length);
      }
      if (c.indexOf(nameEQ) === 0) {
        return c.substring(nameEQ.length, c.length);
      }
    }
    return null;
  }

  function logout() {
    setCookie("userName", "", 365);
    setCookie("token", "", 365);
    location.reload();
  }

  function my_url() {
    if (window.location.href.slice(0, 22) == "http://127.0.0.1:5000/") {
      return "http://127.0.0.1:5000/";
    } else {
      return "https://www.NorthCromocontrole.com.br/";
    }
  }

  function meu_template(template) {
    window.open(my_url() + template, "_self");
  }

  // ALERTA PERSONALIZADO
  function mostrarAlerta() {
    // Primeira pergunta: "Deseja realmente salvar as alterações?"
    Swal.fire({
      title: "Você tem certeza?",
      text: "Deseja realmente salvar as alterações?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Sim, salvar!",
      cancelButtonText: "Não, cancelar!",
    }).then((result) => {
      if (result.isConfirmed) {
        // Se o usuário clicar em "Sim, salvar!"

        const idsToDelete = getSelectedIds(); // Pega os IDs das linhas selecionadas

        console.log("IDs a serem deletados:", idsToDelete);

        if (idsToDelete.length > 0) {
          // Segunda pergunta: "Deseja deletar as linhas selecionadas antes de salvar?"
          Swal.fire({
            title: "Deletar Linha?",
            text: "Deseja deletar as linhas selecionadas antes de salvar?",
            icon: "question",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sim, deletar!",
            cancelButtonText: "Não, continuar!",
          }).then((deleteResult) => {
            if (deleteResult.isConfirmed) {
              // Se o usuário clicar em "Sim, deletar!"
              deletarLinhas(idsToDelete);
            }
            salvarAlterarNovasTarefasARealizar();

            // Alerta informando que os dados foram atualizados com sucesso
            Swal.fire({
              title: "Sucesso!",
              text: "Os dados foram atualizados com sucesso.",
              icon: "success",
            });
          });
        } else {
          salvarAlterarNovasTarefasARealizar();
          // Alerta informando que os dados foram atualizados com sucesso
          Swal.fire({
            title: "Sucesso!",
            text: "Os dados foram atualizados com sucesso.",
            icon: "success",
          });
        }
      }
    });
  }
  
  // Função para mostrar um alerta de sucesso
  function mostrarSucesso() {
    Swal.fire({
      title: "Sucesso!",
      text: "Os dados foram processados com sucesso.",
      icon: "success",
    });
  }

  // Função para mostrar um alerta de erro
  function mostrarErro() {
    Swal.fire({
      title: "Erro!",
      text: "Ocorreu um erro no processamento dos dados.",
      icon: "error",
    });
  }


  function converterParaMaiusculas(elemento) {
    elemento.value = elemento.value.toUpperCase();
}

function highlightInput(element) {
    element.classList.add('focused-input');
  }

  function removeHighlight(element) {
    element.classList.remove('focused-input');
  }


</script>
