<!DOCTYPE html>
<html lang="pt-br">

  {% include 'head.html' %}

<head>
<link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
    />
    <link rel="stylesheet" href="/static/css/meu_estilo.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.3/perfect-scrollbar.min.js"></script>
    
    <script>
      $(function () {
        $('#tabs').tabs();
      });
    </script>
  <style>

.elemento-oculto {
  display: none;
}

    /* Adicione estilos CSS aqui para tornar o layout responsivo */
    .custom-label {
      display: block;
      margin-bottom: 8px;
    }

    .row {
      margin-right: -15px;
      margin-left: -15px;
    }

    .mb-3 {
      margin-bottom: 20px;
    }

    h3 {
      font-size: 20px;
      margin-top: 8px;
    }

    /* Estilo para destacar campos alimentados pelo usuário */
    .input-destaque {
        border: 2px solid #4CAF50; /* Cor de destaque (verde) */
    }

    /* Adicione estilos para o scroll em dispositivos móveis */
    @media (max-width: 767px) {


      body {
        overflow-x: hidden;
      }

      .scrollable-content {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        max-height: calc(100vh - 180px); /* Ajuste de altura máxima para rolagem */
      }

      .table-wrapper {
        overflow-x: auto;
      }

      .btn {
        padding: 10px 14px;
        font-size: 14px;
      }

      .floating-buttons {
        position: fixed;
        top: 40px;
        right: 10px;
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .floating-buttons .btn {
        margin-bottom: 8px;
      }

      .header span {
        display: block; /* Para colocar o texto "NOTH CROMO" abaixo de "RECEBIMENTO" */
      }

      /* Estilo para destacar campos alimentados pelo usuário */
      .input-destaque {
          border: 2px solid #4CAF50; /* Cor de destaque (verde) */
    }
    }
  </style>
  <title>Recebimento de Ordens</title>
</head>

<body>
  <div id="superBody">
    <div class="header">
      <img
        src="https://drive.google.com/uc?export=view&id=1-grKAm790rFePojbqFxCeNXy4rHzrV4j"
        alt="Logo da Empresa"
      />
      <span>RECEBIMENTO - NOTH CROMO</span>
    </div>

    <div id="tabs">
    <ul>
        <li><a href="#tabs-1">Entrada</a></li>
        <li><a href="#tabs-2">Câmera</a></li>
        <li><a href="#tabs-3">Relatório</a></li>
      </ul>
       <div id="tabs-1" class="container">
        <!-- Campos de entrada -->
        <div class="row mt-3 scrollable-content">
            <!-- Campo Tipo de Ordem -->
            <div class="col-md-4 mb-3">
                <label for="tipoOrdem" class="custom-label">Tipo de Ordem</label>
                <select id="tipoOrdem" class="form-control">
                    <option value="novo">Novo</option>
                    <option value="nao">Não</option>
                </select>
            </div>
    
            <!-- Campo Número de Controle -->
            <div class="col-md-4 mb-3">
                <label for="numeroControle" class="custom-label">Número de Controle</label>
                <input
                    id="numeroControle"
                    type="text"
                    class="form-control"
                    placeholder="NumeroControle"
                    disabled
                />
            </div>
    
            <!-- Campo Data de Recebimento -->
            <div class="col-md-4 mb-3">
                <label for="dataRecebimento" class="custom-label">Data de Recebimento</label>
                <input
                    id="dataRecebimento"
                    type="date"
                    class="form-control"
                />
            </div>

            <!-- Campo Cliente (ID do Cliente) -->
            <div class="col-md-4 mb-3">
                <label for="idCliente_Select_Tab2" class="custom-label">Cliente</label>
                <select id="idCliente_Select_Tab2" class="form-control">
                  <option value="">Selecione a Opção..</option>
                    <!-- Preencha com os clientes disponíveis -->
                </select>
            </div>

            <!-- Campo Quantidade -->
            <div class="col-md-3 mb-3">
                <label for="quantidade" class="custom-label">Quantidade</label>
                <input
                    id="quantidade"
                    type="number"
                    class="form-control"
                    placeholder="Quantidade"
                    value="1" 
                    min="1" 
                />
            </div>
    
            <!-- Campo Produto (Código do Produto) -->
            <div class="col-md-5 mb-3">
                <label for="codigoProduto_Select_Tab2" class="custom-label">Produto</label>
                <select id="codigoProduto_Select_Tab2" class="form-control">
                  <option value="">Selecione a Opção..</option>
                    <!-- Preencha com os produtos disponíveis -->
                </select>
            </div>

            <!-- Campo adicional Nota Interna -->
            <div class="col-md-4 mb-3">
                <label for="notaInterna" class="custom-label">Nota Interna</label>
                <input id="notaInterna" type="text" class="form-control" placeholder="N/A" oninput="converterParaMaiusculas(this)" />
            </div>

             <!-- Campo Número de Referência -->
             <div class="col-md-4 mb-3">
                <label for="numeroReferencia" class="custom-label">Referência</label>
                <input
                    id="numeroReferencia"
                    type="text"
                    class="form-control"
                    placeholder="Referência"
                    oninput="converterParaMaiusculas(this)" 
                    />
            </div>
    
            <!-- Campo adicional Vendedor (ID do Vendedor) -->
            <div class="col-md-4 mb-3">
                <label for="idVendedor" class="custom-label">Vendedor</label>
                <select id="idVendedor" class="form-control">
                    <!-- Preencha com os vendedores disponíveis -->
                </select>
            </div>
    
            <!-- Campo adicional Queixa do Cliente -->
        <div class="col-md-12 mb-3">
          <label for="queixaCliente" class="custom-label">Obs:</label>
          <textarea id="queixaCliente" class="form-control" rows="1" oninput="autoResize(this)"></textarea>
        </div>

        </div>
    </div>

<!-- Div oculta para as informações do Flask -->
<div class="elemento-oculto" id="divInfoFlask">
  <input type="text" id="contador_novo" readonly>
  <input type="text" id="valor_seg" readonly>
  <input type="text" id="novo_id_recebimento" readonly>
</div>

        <!-- Tabela Tabular -->
        <div class="table-responsive myTable table-wrapper scrollable-content">
          <div id="table_Recebimento" class="tabulator myTable"></div>
        </div>

        <!-- Botões flutuantes -->
        <div class="floating-buttons">
          <button id="btn_adiciona_funcionario" onclick="Adicionar_funcionarios_mostrarAlerta()" class="btn" style="background-color: #4caf50; color: white;">
            <span class="material-icons" style="margin-right: 8px">save</span>
            Salvar Dados
          </button>

          <button id="btn_excluir_funcioario" onclick="excluir_funcioario()" class="btn" style="background-color: #f44336; color: white;">
            <span class="material-icons" style="margin-right: 8px">delete</span>
            Excluir Dados
          </button>

          <button id="btn_editar_dados" onclick="editar_funcionario()" class="btn" style="background-color: #2196f3; color: white;">
            <span class="material-icons" style="margin-right: 8px">edit</span>
            Editar Dados
          </button>
        </div>
      </div>
      <!-- Fechando a div 'tab-pane' -->

      <!-- Câmera -->
            <div id="tabs-2" class="container">
              <!-- Conteúdo da guia do relatório -->
              <!-- Inclua aqui o código para o relatório -->
            </div>
            <!-- Fechando a div 'tab-pane' -->
          </div>

      <!-- Relatório -->
      <div id="tabs-3" class="container">
        <!-- Conteúdo da guia do relatório -->
        <!-- Inclua aqui o código para o relatório -->
      </div>
      <!-- Fechando a div 'tab-pane' -->
    </div>
    <!-- Fechando a div 'tabs' -->
    <!-- Adicione o script para a biblioteca Perfect Scrollbar e sua inicialização -->
        {% include 'funcoes_comuns.html' %}
        <!-- <script src="capturar_foto.js"></script> -->
        <script>
          function my_url() {
            if (window.location.href.slice(0, 22) == 'http://127.0.0.1:5000/') {
              return 'http://127.0.0.1:5000/';
            } else {
              return 'https://www.northcromocontrole.com.br/';
            }
          }
  
          function uploadFile() {
            var fileInput = document.getElementById('fileInput');
            var file = fileInput.files[0];
  
            if (file) {
              var formData = new FormData();
              formData.append('file', file);
  
              $.ajax({
                type: 'POST',
                url: my_url() + 'upload',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                  console.log('File uploaded successfully:', response);
                },
                error: function (error) {
                  console.error('Error uploading file:', error);
                },
              });
            } else {
              console.error('No file selected');
            }
          }
        </script> 

<script>

 document.getElementById('mostrarInfoFlask').addEventListener('click', function() {
  var divInfoFlask = document.getElementById('divInfoFlask');
  divInfoFlask.style.display = 'block';
});

</script>
        
      <script>
 // Varivavel para o ApiScript

 var minhaUrl =
       'https://script.google.com/macros/s/AKfycbyKbCEorAKW_U4alzQvPfWuYb7Gpu1B1ZxrnnINNmYo92W5EKOiK-wIakk2vp8tj88/exec'
       
function formatarData(data) {
    const partes = data.split('-');
    const dataFormatada = partes[2] + '/' + partes[1] + '/' + partes[0];
    return dataFormatada;

  }

  $(document).ready(function () {
    // Chamar a função horaSistema para definir a hora atual
    horaSistema();
    selecionar_clientes();
    selecionar_produtos();
    
     // carregarValorSeg();
    Lista_recebimento();

  // Formatar campo de telefone
  $('#telefone').keyup(function () {
    var val = this.value.replace(/\D/g, '');
    var newVal = '';
    while (val.length > 0) {
      newVal += (val.length > 2 ? ' ' : '') + val.substr(0, 2);
      val = val.substr(2);
    }
    this.value = newVal.trim();
  });

  // Adicionar estilo ao campo quando preenchido
  $('input').blur(function () {
    if ($(this).val()) {
      $(this).addClass('filled');
    } else {
      $(this).removeClass('filled');
    }
  });

  $(".scrollable-content").perfectScrollbar();

});

function autoResize(element) {
  element.style.height = 'auto';
  element.style.height = (element.scrollHeight) + 'px';

    // Converter para maiúsculas
    elemento.value = elemento.value.toUpperCase();

};

// Função para definir a hora atual no campo
function horaSistema() {
  const horaAtualInput = document.getElementById('horaAtual');
  if (horaAtualInput !== null) {
    // Continue com a manipulação apenas se o elemento existir
    horaAtualInput.value = "Nova hora";

    const agora = new Date();
    // Formatar a hora atual para hh:mm
    const horaAtual = agora.getHours().toString().padStart(2, '0');
    const minutoAtual = agora.getMinutes().toString().padStart(2, '0');
    const horaFormatada = `${horaAtual}:${minutoAtual}`;

    // Atribuir a hora formatada ao input
    horaAtualInput.value = horaFormatada;
  }
}


document.addEventListener('DOMContentLoaded', function () {
  const btnGroup = document.querySelector('.btn-group');
  const hiddenInput = document.getElementById('marcaNovo');

  btnGroup.addEventListener('click', function (event) {
    const target = event.target;
    if (target.tagName === 'BUTTON') {
      const value = target.getAttribute('data-value');
      hiddenInput.value = value;
    }
  });
});

// Script para definir a hora atual no campo
document.addEventListener('DOMContentLoaded', function () {
  const horaAtualInput = document.getElementById('horaAtual');
  const agora = new Date();

  // Formatar a hora atual para hh:mm
  const horaAtual = agora.getHours().toString().padStart(2, '0');
  const minutoAtual = agora.getMinutes().toString().padStart(2, '0');
  const horaFormatada = `${horaAtual}:${minutoAtual}`;

  horaAtualInput.value = horaFormatada;
});

const video = document.getElementById('camera-feed');
const capturarBotao = document.getElementById('capturar-foto');
const cameraFrenteBotao = document.getElementById(
  'capturar-camera-frente'
);
const cameraTransBotao = document.getElementById(
  'capturar-camera-trans'
);
const desativarCameraBotao =
  document.getElementById('desativar-camera');
const canvas = document.getElementById('foto-capturada');

let currentStream;

function startCamera(streamOptions) {
  navigator.mediaDevices
    .getUserMedia(streamOptions)
    .then(function (stream) {
      video.srcObject = stream;
      currentStream = stream;
    })
    .catch(function (error) {
      console.log('Erro ao acessar a câmera: ' + error);
    });
}

function stopCamera() {
  if (currentStream) {
    const tracks = currentStream.getTracks();
    tracks.forEach((track) => track.stop());
    video.srcObject = null;
  }
}

function capturePhoto() {
  canvas.style.display = 'block';
  video.style.display = 'none';
  canvas.width = video.videoWidth;
  canvas.height = video.videoHeight;
  canvas
    .getContext('2d')
    .drawImage(video, 0, 0, canvas.width, canvas.height);

  const dataURL = canvas.toDataURL('image/jpeg');

  fetch('/upload', {
    method: 'POST',
    body: JSON.stringify({ photo: dataURL }),
    headers: {
      'Content-Type': 'application/json',
    },
  })
    .then((response) => response.text())
    .then((result) => alert(result))
    .catch((error) => console.error(error));
}

capturarBotao.addEventListener('click', capturePhoto);

cameraFrenteBotao.addEventListener('click', function () {
  stopCamera();
  startCamera({ video: { facingMode: 'user' } });
});

cameraTransBotao.addEventListener('click', function () {
  stopCamera();
  startCamera({ video: { facingMode: { exact: 'environment' } } });
});

desativarCameraBotao.addEventListener('click', function () {
  stopCamera();
  video.style.display = 'none';
});

            function selecionar_clientes() {
                console.log("selecionar_clientea");
                $.ajax({
                    url: my_url() + "selecionar_clientes",
                    type: "POST",
                })
                .done(function (response) {
                    try {
                        let dados = response.retorno; // Ajuste aqui para pegar a propriedade 'retorno'
                        console.log("selecionar_clientes:", dados);

                        // Verifique se os dados têm as propriedades esperadas
                        if (Array.isArray(dados) && dados.length > 0 && "Nome_cliente" in dados[0]) {

                            // Atualize o campo de seleção com as opções recebidas
                            const select = document.getElementById('idCliente_Select_Tab2');

                            // Limpe as opções existentes
                            select.innerHTML = '<option value="">Selecione a Opção..</option>';

                            // Adicione as novas opções
                            dados.forEach(cliente => {
                            const option = document.createElement('option');
                            option.value = cliente.ID;  // Use a propriedade 'ID' para o valor da opção
                            option.text = cliente.Nome_cliente;  // Use a propriedade 'Nome_cliente' para o texto da opção
                            select.appendChild(option);
                        });

                            // Opcional: Inicialize a tabela ou realize outras operações aqui, se necessário
                        } else {
                            console.error("Dados inválidos recebidos:", dados);
                        }
                    } catch (e) {
                        console.error("Erro ao analisar os dados:", e);
                    }
                })
                .fail(function (error) {
                    console.error("Erro ao buscar dados iniciais de conferência:", error);
                });
            }

   function selecionar_produtos() {
    console.log("selecionar_produtos");
    $.ajax({
        url: my_url() + "selecionar_produtos",
        type: "POST",
    })
    .done(function (response) {
        try {
            let dados = response.retorno;
            console.log("selecionar_produtos:", dados);

            // Verifique se os dados têm as propriedades esperadas
            if (Array.isArray(dados) && dados.length > 0) {

                // Atualize o campo de seleção com as opções recebidas
                const select_produtos = document.getElementById('codigoProduto_Select_Tab2');

                // Limpe as opções existentes
                select_produtos.innerHTML = '<option value="">Selecione a Opção..</option>';

                // Adicione as novas opções
                  dados.forEach(produto => {
                      const option_produtos = document.createElement('option');
                      option_produtos.value = produto.Cod_Produto;  // Use a propriedade 'Cod_Produto' para o valor da opção
                      option_produtos.text = produto.nome_produto;  // Use a propriedade 'nome_produto' para o texto da opção
                      select_produtos.appendChild(option_produtos);
                  });

                // Opcional: Inicialize a tabela ou realize outras operações aqui, se necessário
            } else {
                console.error("Dados inválidos recebidos:", dados);
            }
        } catch (e) {
            console.error("Erro ao analisar os dados:", e);
        }
    })
    .fail(function (error) {
        console.error("Erro ao buscar dados iniciais de conferência:", error);
    });
}
              // Função para carregar a lista de obras
              function ListaCliente() {
                $.ajax({
                    url: my_url() + "lista_clientes",
                    type: "GET",
                    dataType: "json",
                })
                .done(function (data) {
                    const  clientes = data.clientes;
                    clientesContainer.innerHTML = "";
    
                    obras.forEach(obra => {
                        const obraItem = document.createElement('li');
                        clientesItem.classList.add('obra-item');
                        clientesItem.setAttribute('data-id',  clientes['id_Obra']);
                        clientesItem.textContent = clientes['obra_nome'];
    
                        clientesItem.addEventListener('click', function() {
                            const obraId = this.getAttribute('data-id');
                            console.log(obraId)
    
                            carregarDetalhesObra(obraId);
                        });
    
                        obrasContainer.appendChild(obraItem);
                    });
                })
                .fail(function (error) {
                    console.error("Erro ao carregar obras:", error);
                });
            }

            // Função para carregar a lista de obras
            function Lista_recebimento() {
                $.ajax({
                    url: my_url() + "selecionar_recebimentos",
                    type: "POST",
                    dataType: "json",
                })
                .done(function (data) {
                  console.log('Lista_recebimento', data)

                // Preencha os inputs com os dados recebidos
                $("#contador_novo").val(data.contador_novo).show();
                $("#valor_seg").val(data.valor_seg).show();
                $("#novo_id_recebimento").val(data.novo_id_recebimento).show();

              // Padrão: selecionar "Novo" por padrão
              $("#tipoOrdem").val("novo");

              // Preencher o Número de Controle automaticamente
              $("#numeroControle").val(data.valor_seg).prop("disabled", true);


                 // Manipulador de evento para o Tipo de Ordem
                 $("#tipoOrdem").change(function() {
                    var tipoOrdem = $(this).val();

                    // Se o Tipo de Ordem for "Novo", preencha o Número de Controle automaticamente
                    if (tipoOrdem === "novo") {
                        $("#numeroControle").val(data.valor_seg).prop("disabled", true);
                    } else {
                        // Se o Tipo de Ordem for "Não", deixe o Número de Controle habilitado para digitação
                        $("#numeroControle").val("").prop("disabled", false);
                    }
                });
            })
            .fail(function (error) {
                console.error("Lista_recebimento:", error);
            });
        }


  // Função para carregar valor_seg
  function carregarValorSeg_original() {
              $.ajax({
                  url: my_url() + "get_valor_seg",
                  type: "GET",
                  dataType: "json",
              })
              .done(function (data) {
                if (data.error) {
              console.error("Erro ao obter valor_seg:", data.error);
            } else {
              console.log("carregarValorSeg data", data);
              
                  const maxId = data.max_id;
                  const valorSeg = data.valor_seg;
                  const numerocontroleNovo = data.numerocontrole_novo;
                  const maxIdFromSource = data.max_id_from_source;

                  // Preencha os campos de entrada com os valores obtidos
                  $("#maxId").val(maxId);
                  $("#valorSeg").val(valorSeg);
                  $("#numerocontroleNovo").val(numerocontroleNovo);
                  $("#maxIdFromSource").val(maxIdFromSource);

                }
              })
      .fail(function (xhr, status, error) {
      console.error("Erro ao carregar valor_seg:", status, error);
      console.log(xhr.responseText); // Adicione esta linha para imprimir a resposta completa
  });

  }

 // Função para adicionar um recebimento
function adicionarRecebimento() {
    $.ajax({
        url: my_url() + "adicionar_recebimento",
        type: "POST",
    })
    .done(function (response) {
        try {
            let dados = response.retorno;
            console.log("Recebimento adicionado:", dados);

            // Chame a função para processar os dados recebidos
            processarDados(response);

            // Opcional: Faça mais operações com os dados, se necessário
        } catch (e) {
            console.error("Erro ao adicionar recebimento:", e);
        }
    })
    .fail(function (error) {
        console.error("Erro ao adicionar recebimento:", error);
    });
}


// Adicione uma função para calcular o ID_Ordem no frontend
function calcularIDOrdem(tipoOrdem, novoIDNovo) {
    if (tipoOrdem === "NÃO") {
        return "";
    } else if (novoIDNovo === 0) {
        return "0001-" + new Date().getFullYear().toString().slice(-2);
    } else if (novoIDNovo === 1) {
        return "0002-" + new Date().getFullYear().toString().slice(-2);
    } else {
        return ("0000" + novoIDNovo).slice(-4) + "-" + new Date().getFullYear().toString().slice(-2);
    }
}

// Atualize a função de processamento dos dados recebidos
function processarDados(response) {
    try {
        let dados = response.retorno;
        console.log("selecionar_recebimentos:", dados);

        // Verifique se os dados têm as propriedades esperadas
        if (Array.isArray(dados) && dados.length > 0) {

            // Atualize o campo de seleção com as opções recebidas
            const select_recebimentos = document.getElementById('seuCampoDeRecebimentos');

            // Limpe as opções existentes
            select_recebimentos.innerHTML = '<option value="">Selecione a Opção..</option>';

            // Adicione as novas opções
            dados.forEach(recebimento => {
                const option_recebimento = document.createElement('option');
                option_recebimento.value = recebimento.ID;  
                option_recebimento.text = recebimento.nome_recebimento;
                select_recebimentos.appendChild(option_recebimento);
            });

            // Exemplo de como calcular o ID_Ordem com base nos dados
            const tipoOrdem = document.getElementById('TipoOrdem').value;
            const novoIDNovo = document.getElementById('NovoIDNovo').value;
            const idOrdemCalculado = calcularIDOrdem(tipoOrdem, novoIDNovo);

            // Atualize o campo do ID_Ordem no formulário
            document.getElementById('IDOrdem').value = idOrdemCalculado;

            // Opcional: Inicialize a tabela ou realize outras operações aqui, se necessário
        } else {
            console.error("Dados inválidos recebidos:", dados);
        }
    } catch (e) {
        console.error("Erro ao analisar os dados:", e);
    }
}

function converterParaMaiusculas(elemento) {
    elemento.value = elemento.value.toUpperCase();
}

</script>

<!-- Adicione este script no final do body da sua página -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha512-GLbCKLNBXVnDYbWEQaQ3Q2jA2j//b6ZFYyyxvIqxUpn8Oy4z8JUODf60gqV7zvPe7ME1aGrg5ZLysl1mg1yDAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.3/perfect-scrollbar.min.js"></script>

  </div>
  </body>
</html>