<!DOCTYPE html>
<html lang="pt-br">
  <body>
    <div class="seg">
      <div>
        <h3>Produtos</h3>
      </div>
      <div id="meus_inputs"></div>
      <div class="divisor">
        <button id="btn_exclui_produto" onclick="excluir_produto()">
          Excluir
        </button>
        <div></div>
        <button id="btn_adiciona_produto" onclick="salvar_produto()">
          Salvar
        </button>
      </div>

      <div>
        <div class="campo_pesquisa">
          <label>Pesquisar</label>
          <input type="text" id="pesquisar_produto" />
        </div>
        <button onclick="verifica_selecao()">Alterar</button>
        <table id="tabela_produto" class="display nowrap" style="width: 100%">
          <thead>
            <tr id="cabecalho_produto"></tr>
          </thead>
        </table>
      </div>
    </div>
  </body>

  <script>
    $(document).ready(function () {
      ler_dados_produtos();
    });

    function verifica_selecao() {
      var tabela_produto = document.getElementById("tabela_produto");

      var o_que_foi_selecionado =
        tabela_produto.getElementsByClassName("selected")[0];

      var tds = o_que_foi_selecionado.getElementsByTagName("td");
      var qtd_tds = tds.length;

      for (var i = 0; i < qtd_tds; i++) {
        document.getElementsByClassName("input_produto")[i].value =
          tds[i].innerHTML;
      }
    }
    function excluir_produto() {
      document.getElementById("btn_adiciona_produto").disabled = true;

      var input_produto = document.getElementsByClassName("input_produto");
      var qts_inputs = input_produto.length;
      var all_data = [];

      for (var i = 0; i < qts_inputs; i++) {
        all_data.push(input_produto[i].value);
      }

      if (input_produto[1].value == "") {
        alert("Preencha um nome!");
        document.getElementById("btn_adiciona_produto").disabled = false;
      } else {
        $.ajax({
          url: my_url() + "exclui_produto",
          data: JSON.stringify(all_data),
          contentType: "application/json",
          type: "POST",
        }).done(function (data) {
          alert(data.retorno);
          document.getElementById("btn_adiciona_produto").disabled = false;
          document.getElementById("meus_inputs").innerHTML = "";
          ler_dados_produtos();
        });
      }
    }

    function salvar_produto() {
      document.getElementById("btn_adiciona_produto").disabled = true;

      var input_produto = document.getElementsByClassName("input_produto");
      var qts_inputs = input_produto.length;
      var all_data = [];

      for (var i = 0; i < qts_inputs; i++) {
        all_data.push(input_produto[i].value);
      }

      if (input_produto[1].value == "") {
        alert("Preencha um nome!");
        document.getElementById("btn_adiciona_produto").disabled = false;
      } else {
        $.ajax({
          url: my_url() + "adiciona_produto",
          data: JSON.stringify(all_data),
          contentType: "application/json",
          type: "POST",
        }).done(function (data) {
          alert(data.retorno);
          document.getElementById("btn_adiciona_produto").disabled = false;
          document.getElementById("meus_inputs").innerHTML = "";
          ler_dados_produtos();
        });
      }
    }
    function ler_dados_produtos() {
      $.ajax({
        url: my_url() + "ler_dados_produtos",
        type: "POST",
      }).done(function (data) {
        let dados = data.retorno;
        let cabecalho = dados[0];
        gera_cabecalho_produto(cabecalho);

        dados = dados.slice(1, dados.length);

        try {
          $("#tabela_produto").DataTable().clear();
          $("#tabela_produto").DataTable().destroy();
        } catch (e) {}

        const datatable = new DataTable("#tabela_produto", {
          data: dados,
          deferRender: true,
          scrollCollapse: true,
          scroller: true,
          scrollY: 200,
        });

        $("#tabela_produto tbody").on("click", "tr", function () {
          var row = datatable.row(this);

          if (row.data()) {
            var selectedRows = datatable.rows(".selected");

            if (row.node().classList.contains("selected")) {
              row.node().classList.remove("selected");
            } else {
              selectedRows.nodes().to$().removeClass("selected");
              row.node().classList.add("selected");
            }
          }
        });

        $("#pesquisar_produto").on("input", function () {
          var valor_para_pesquisar = $(this).val();
          datatable.search(valor_para_pesquisar).draw();
        });
      });
    }
    function gera_cabecalho_produto(cabecalho) {
      var cabecalhoLen = cabecalho.length;

      for (var i = 0; i < cabecalhoLen; i++) {
        var item_do_cabecalho = `<th>` + cabecalho[i] + `</th>`;
        document.getElementById("cabecalho_produto").innerHTML =
          document.getElementById("cabecalho_produto").innerHTML +
          item_do_cabecalho;
      }

      for (var i = 0; i < cabecalhoLen; i++) {
        var meu_input =
          `<label>` +
          cabecalho[i] +
          `</label><input class="input_produto" type="text" id="` +
          cabecalho[i] +
          `" />`;

        document.getElementById("meus_inputs").innerHTML =
          document.getElementById("meus_inputs").innerHTML + meu_input;
      }
    }
  </script>
</html>

